<div class="nav">

<p><%= link_to "Home", root_path%>
<!-- generates the HTML tag: -->
<a href="http://localhost:3000"></a>&nbsp</p>

<p><%= link_to "About", @about %>&nbsp</p>

<p><%= link_to "Bikes", products_path%></a>
<!-- generates the HTML tag: -->
<a href="http://localhost:3000/products"></a>&nbsp</p>

<p><%= link_to "Contact", static_pages_contact_path %>
<!-- generates the HTML tag: -->
<a href="http://localhost:3000/contact"></a>&nbsp</p>
</div><br><br>

<div class="bodyabout">
<h1>We Are Bikester</h1>
<p>Find the ride that hits your stride.</p>
</div>
