<div class="nav">

<p><%= link_to "Home", root_path%>
<!-- generates the HTML tag: -->
<a href="http://localhost:3000"></a>&nbsp</p>

<p><%= link_to "About", static_pages_about_path%>
<!-- generates the HTML tag: -->
<a href="http://localhost:3000/about"></a>&nbsp</p>

<p><%= link_to "Bikes", products_path%></a>
<!-- generates the HTML tag: -->
<a href="http://localhost:3000/products"></a>&nbsp</p>

<p><%= link_to "Contact", @contact %>&nbsp</p>

</div><br><br>

<div class="bodycontact">
<h1>Contact Us!</h1>
<p>By Phone: 394-294-4814<br>By Email: bikester@usa.com</p>
</div>
