// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel-caption {
	color: black;
}

.navbar ul li {
	font-family: Helvetica;
	text-transform: uppercase;
	float: left;
	display: block;
}

.navbar li {
	display: inline-block;
	letter-spacing: 0.5px;
}

.row {
	padding-left: 5%;
}

.tag {
	padding-left: 5%;
}
